<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="utf-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1" />
     <link rel="dns-prefetch" href="//fonts.gstatic.com" />
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
</head>
<style>
     @font-face {
          font-family: 'Graphik';
          src: url('https://res.cloudinary.com/drsp4xifi/raw/upload/v1575392780/Graphik-400-Regular_jmkuz8.woff') format('woff');
          font-weight: 400;
     }

     @font-face {
          font-family: 'Graphik';
          src: url('https://res.cloudinary.com/drsp4xifi/raw/upload/v1575392780/Graphik-300-Light_mekfkd.woff') format('woff');
          font-weight: 300;
     }

     @font-face {
          font-family: 'Graphik';
          src: url('https://res.cloudinary.com/drsp4xifi/raw/upload/v1575393906/Graphik-600-Semibold_azd6ci.woff') format('woff');
          font-weight: 600;
     }

     @font-face {
          font-family: 'Graphik';
          src: url('https://res.cloudinary.com/drsp4xifi/raw/upload/v1575393906/Graphik-500-Medium_vsbeur.woff') format('woff');
          font-weight: 500;
     }
</style>

<body style="height: 100vh; margin: 0 !important; font-family: Graphik; background: #FAFAFA;">
     <div>
          <center>
               <table cellpadding="0" cellspacing="0" style="max-width: 520px; width: 100%;">
                    <tr>
                         <td>
                              <div
                                   style="padding:40px 10%; background-color: #ffffff;  border-radius: 5px; margin-top: 40px;">
                                   <div style="text-align: center;">
                                        <img src="https://res.cloudinary.com/wittercell/image/upload/v1575996802/clip-1_1_m8zf3s.png"
                                             alt="Welcome to Urbanspace" height="266.67px" width="400px"
                                             style=" vertical-align: bottom;" />
                                   </div>
                                   <div style="text-align: center;">
                                        <p
                                             style="color: #31424F; font-size: 16px; line-height: 150%; text-align: left;font-family: 'Graphik', sans-serif; margin: 0;font-weight: 400;">
                                             Dear <b style="font-weight: 800">{{username}},</b>
                                        </p>
                                        <p
                                             style="color: #31424F; font-size: 14px; line-height: 150%; text-align: left;font-family: 'Graphik', sans-serif; font-weight: 400; margin-top: 30px">
                                             Your password on <a href="https://app.urbanspace.com.ng">Urbanspace</a> has
                                             just changed.
                                        </p>

                                   </div>
                         </td>
                    </tr>
               </table>
          </center>
     </div>
</body>

</html>