<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="utf-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1" />
     <link rel="dns-prefetch" href="//fonts.gstatic.com" />
     <link rel="stylesheet"
          href="https://res.cloudinary.com/drsp4xifi/raw/upload/v1575392780/Graphik-400-Regular_jmkuz8.woff" />
     <link rel="stylesheet"
          href="https://res.cloudinary.com/drsp4xifi/raw/upload/v1575392780/Graphik-300-Regular_jmkuz8.woff" />
     <link rel="stylesheet"
          href="https://res.cloudinary.com/drsp4xifi/raw/upload/v1575392780/Graphik-600-Regular_jmkuz8.woff" />
     <link rel="stylesheet"
          href="https://res.cloudinary.com/drsp4xifi/raw/upload/v1575392780/Graphik-500-Regular_jmkuz8.woff" />
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
</head>
<style>
     p {
          font-family: Graphik;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 150%;
          color: #31424f;
     }
</style>

<body style="
      min-height: 100vh;
      overflow-y: scroll;
      margin: 0 !important;
      font-family: Graphik;
      background: #fafafa;
    ">
     <div>
          <center>
               <table cellpadding="0" cellspacing="0" style="max-width: 520px; width: 100%;">
                    <tr>
                         <td>
                              <div style="
                  padding: 40px 10%;
                  background-color: #ffffff;
                  border-radius: 5px;
                  margin-top: 40px;
                ">
                                   <div>
                                        <div style="text-align: center;">
                                             <img src="https://res.cloudinary.com/wittercell/image/upload/v1575996802/clip-1_1_m8zf3s.png"
                                                  alt="Welcome to Wittercell" height="266.67px" width="400px"
                                                  style="vertical-align: bottom;" />
                                        </div>
                                        <span style="
                      color: #333333;
                      font-size: 16px;
                      line-height: 150%;
                      text-align: center;
                      font-family: 'Graphik', sans-serif;
                      margin: 0;
                      font-weight: 400;
                    ">
                                             <b style="font-weight: 500;">Welcome, {{username}}.</b>
                                        </span>
                                        <p style="
                      font-family: Graphik;
                      font-style: normal;
                      font-weight: normal;
                      font-size: 13px;
                      line-height: 150%;
                      color: #31424f;
                    ">
                                             Thanks for joining Urbanspace, the platform that allows you
                                             the freedom to choose your workplace every day. We are
                                             excited to have you. To get you started, here are some tipis
                                             to get you started.
                                        </p>
                                        <div>
                                             <div style="
                        display: flex;
                        justify-content: space-between;
                        margin-top: 40px;
                      ">
                                                  <img src="https://res.cloudinary.com/wittercell/image/upload/v1575996802/Group_336_fgnoge.png"
                                                       alt="Welcome to Wittercell" height="54px" width="54px" style="
                          border-radius: 50%;
                          margin-right: 20px;
                          vertical-align: bottom;
                        " />
                                                  <div style="width: 346px;">
                                                       <b style="
                            font-weight: 500;
                            font-family: Graphik;
                            font-style: normal;
                            font-size: 13px;
                            line-height: 150%;
                            color: #333333;
                          ">Pick a city</b>
                                                       <p style="
                            font-family: Graphik;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 14px;
                            margin-top: 4px;
                            line-height: 150%;
                            color: #31424f;
                          ">
                                                            Pick whatever city you are in and we will find you a
                                                            curated list of co-working places to choose from.
                                                       </p>
                                                  </div>
                                             </div>
                                             <div style="
                        display: flex;
                        justify-content: space-between;
                        margin-top: 40px;
                      ">
                                                  <img src="https://res.cloudinary.com/wittercell/image/upload/v1575996802/Group_335_xkahbb.png"
                                                       alt="Welcome to Wittercell" height="54px" width="54px" style="
                          border-radius: 50%;
                          margin-right: 20px;
                          vertical-align: bottom;
                        " />
                                                  <div style="width: 346px;">
                                                       <b style="
                            font-weight: 500;
                            font-family: Graphik;
                            font-style: normal;
                            font-size: 13px;
                            line-height: 150%;
                            color: #333333;
                          ">Pick a workplace</b>
                                                       <p style="
                            font-family: Graphik;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 14px;
                            margin-top: 4px;
                            line-height: 150%;
                            color: #31424f;
                          ">
                                                            From our list of curated workplaces, select one which
                                                            speaks to you using previous reviews and ratings
                                                       </p>
                                                  </div>
                                             </div>
                                             <div style="
                        display: flex;
                        justify-content: space-between;
                        margin-top: 40px;
                      ">
                                                  <img src="https://res.cloudinary.com/wittercell/image/upload/v1575996802/Group_334_f3no73.png"
                                                       alt="Welcome to Wittercell" height="54px" width="54px" style="
                          border-radius: 50%;
                          margin-right: 20px;
                          vertical-align: bottom;
                        " />
                                                  <div style="width: 346px;">
                                                       <b style="
                            font-weight: 500;
                            font-family: Graphik;
                            font-style: normal;
                            font-size: 13px;
                            line-height: 150%;
                            color: #333333;
                          ">Check in</b>
                                                       <p style="
                            font-family: Graphik;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 14px;
                            margin-top: 4px;
                            line-height: 150%;
                            color: #31424f;
                          ">
                                                            Once a workplace is selected, you will be provided
                                                            with a booking code and directions to the location. At
                                                            the location, you will be required to check in using
                                                            the booking code.
                                                       </p>
                                                  </div>
                                             </div>
                                             <div style="margin: 38px 0; text-align: center;">
                                                  <a href="https://app.urbanspace.com.ng" target="__blank" style="
                          padding: 17px 27px;
                          text-decoration: none;
                          font-family: Graphik, sans-serif;
                          font-size: 14px;
                          text-align: center;
                          letter-spacing: 0.4px;
                          background: #131b23;
                          color: white;
                          border: none;
                          border-radius: 5px;
                          font-weight: 500;
                          width: 146px;
                          height: 40px;
                        ">
                                                       Get Started
                                                  </a>
                                             </div>
                                        </div>
                                   </div>
                              </div>
                         </td>
                    </tr>
               </table>
          </center>
     </div>
</body>

</html>